body{
	background-color: #EEE;
	font-family: Helvetica, Arial, san-serif;
}

a {
	text-decoration: none;
	color: red;
}

h1,h2,h3 {
	margin: 0;
}

#container {
	background_color: orange;
	width: 1000px;
	margin-left:auto;
	margin-right:auto;
}

#header{
	background-color: #66CCFF;
	color: white;
	text-align:center; 
}

#content {
	padding: 10px;
}

#nav {
	width: 180px;
	float:left;
}

#main {
	width: 600px;
	float:right;
}

#footer {
	clear:both;
	padding: 10px;
	background-color: grey;
	color:white;
	text-align:right;
}

#nav ul {
	list-style-type:none;
	padding: 0;
}

#nav.selected {
	font-weight:bold;
}